<?xml version='1.0' encoding='utf-8'?>
<configuration>
    <appSettings>
        <add key="BranchID" value="5"/>
    </appSettings>
    <connectionStrings>
        <add name="NorthWindCN"
             connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security = true" />
    </connectionStrings>
</configuration>